---
layout: default
---

<div id="header">
  <img id="headerImage" src="assets/duck-rabbit.png">
  <h2>A collection of ideas and events with versatile shapes.</h2>
  <div class="byline">A <a href="https://github.com/dave-regan/familiar.energy" target="_blank">project</a> by <a href="https://dave.regan.works" target="_blank">Dave Regan</a>.</div>
</div>
<dl id="entries">
  {%- for entry in site.data.entries -%}
  <a class="wikipediaLink" href="https://en.wikipedia.org/wiki/{{ entry[0] }}" target="_blank">
    <div class="entry">
      <dt>
        <div class="title">{{ entry[0] }}</div>
      </dt>
      <dd>
        <div class="extract">{{ entry[1].extract | truncate: 199, '...' }}</div>
        <div class="date">{{ entry[1].created | date: "%e %b %Y, %I:%M%P" }}</div>
      </dd>
    </div>
  </a>
  {%- endfor -%}
</dl>
